* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #413f3f;
    display: block;
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;

}

.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
}

.footer-items p {
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}

h2 {
    margin: 5px 0;
    color: rgb(212, 211, 211);
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppsercase;
}

.border {
    height: 2px;
    width: 50px;
    background: rgb(233, 233, 233);
}

ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing:  0.5px;
}

ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

ul a:hover {
    color: rgb(211, 30, 30);
}

ul li {
    margin: 10px 0;
    padding: 5px;
}

li i {
    margin-right: 20px;
}

.socialMedia {
    width: 100%;
    color: #fff;
    text-align: center;
}

.socialMedia a {
    text-decoration: none;
}

.socialMedia i {
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
    transition: 0.3s;
}

.socialMedia i:hover {
    background: grey;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #747373;
    font-size: 12px;
}

@media screen and (max-width: 1085px) {
    .footer-items {
        width: 50%;
    }
}
@media screen and (max-width: 990px) {
    .footer-items {
        width: 100%;
    }
}


